
body
  display inline-block

.card
  min-width 400px
  min-height 400px
  display block
  box-shadow 2px -2px 9px 1px rgba(0, 0, 0, 0.75)
  font-family 'Verdana'

.list-item
  min-width 400px
  min-height: 400px
  display block
  box-shadow 2px -2px 9px 1px rgba(0, 0, 0, 0.75)
  font-family 'Verdana'
  list-style none

.card-body
  padding 10px 20px

input
  border-top none
  border-left none
  border-right none
  outline none
  margin-top 10px
  display block
  border-bottom 1px solid grey
  width 100%

.textarea
  border-top none
  border-left none
  border-right none
  outline none
  padding-top 60px
  width: 100%

.label-text
  font-size 12px
  display block
  margin-top 12px

.card-sec
  text-align right
  box-shadow 2px -2px 9px 1px rgba(0, 0, 0, 0.75)
  min-height 70px
  margin-top 30px
  padding-right 13px
  display flex
  align-items center
  justify-content flex-end

.button-plus
  border-radius 50px
  border: 2px solid #000000
  font-size: 20px
  font-weight 700
  cursor pointer
  outline none
  margin 0 0 0 10px
ul
  padding-left 0

.list-item
  padding 10px 20px
  margin-bottom 20px
  position: relative

.input-name, .input-date, .input-phone
  border-bottom 1px solid #808080
  font-size: 12px
  position: relative

.input-area
  border-bottom 1px solid #808080
  border-top none
  border-left none
  border-right none
  outline none
  padding-top 60px
  width: 100%
  font-size: 12px
  word-wrap break-word
  max-width 400px
  position: relative

.buttons
  text-align right
  box-shadow 2px -2px 9px 1px rgba(0, 0, 0, 0.75)
  min-height 70px
  margin-top 30px
  padding-right 13px
  display flex
  align-items center
  justify-content flex-end
  position absolute
  min-width 428px
  left 0
  bottom 0px
.edit
  background url('https://image.flaticon.com/icons/png/512/61/61456.png') center no-repeat
  width 30px
  height 30px
  background-size contain
  border: 0
  cursor pointer
  outline none
  margin 0 10px
.erase
  background url('https://image.flaticon.com/icons/png/512/149/149690.png') center no-repeat
  width 30px
  height 30px
  background-size contain
  border: 0
  cursor pointer
  outline none
  margin 0 10px
.remove
  background url('https://image.flaticon.com/icons/png/512/149/149690.png')
  width 30px
  height 30px
  background-size contain
  border: 0
  cursor pointer
  outline none
  margin 0 0 0 10px
.remove-input
  background url('https://image.flaticon.com/icons/png/512/149/149690.png')
  width 15px
  height 15px
  background-size contain
  border: 0
  cursor pointer
  outline none
  position absolute
  right 20px
  margin-top 10px
.save
  background url('https://image.flaticon.com/icons/png/512/447/447147.png')
  width 30px
  height 30px
  background-size contain
  border: 0
  cursor pointer
  outline none
  margin 0 10px
.cancel
  background url('https://image.flaticon.com/icons/png/512/61/61138.png')
  width 30px
  height 30px
  background-size contain
  border: 0
  cursor pointer
  outline none
  margin 0 0 0 10px

